                /* Estilo de la Pagina Principal*/
    /*Cuerpo de la Pagina*/
body
{
    background-color: #DBDBDC;
    padding: 1%;
    font-size: 46px;
    color: #345171;
    text-align: center;
    font-family: "Century Schoolbook";
}
    /*Cuerpo de la pagina - Boton para acceder*/
.Boton{
    border: 1px;
    padding: 10px;
    background-color: #2e518b;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
}

.Boton:hover{
    background: #424242;
}

    /*Cuerpo de la pagina - Fondo Rectangulo*/
.Rectangulo{
    border: 2px #FF6400;
    background-color: #ECECEC;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 6px 6px 6px #878787;
    border-radius: 10px;
    display: inline-block;
}
    /*Cuerpo de la pagina - Informacion de la Libreria*/
.Informacion{
    font-size: 40%;
}


                /* Estilo de la Pagina de Contenido*/
    /*Titulo de la pagina*/
.Titulo{
    font-size: 100%;
}
    /*Menu navigador*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #48B0B0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #424242;
}

                /* Estilo de la Pagina de Registro*/
    /*Cuerpo de la pagina - Fondo Rectangulo*/
.Rectangulo{
    border: 2px #FF6400;
    background-color: #ECECEC;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 6px 6px 6px #878787;
    border-radius: 10px;
    display: inline-block;
}

body
{
    background-color: #DBDBDC;
    padding: 1%;
    font-size: 20px;
    color: #345171;
    text-align: center;
    font-family: "Century Schoolbook";
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}