<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href=" /static/stylehome.css"/>
        <title>WebApp Libreria Matias</title>
    </head>
    <body>
        <!--Fondo-->
        <section class="contenedor-wrap">
            <!--Nombre del Negocio + Logo-->
            <section class="info-contacto">
                <section class="info-titulo">
                    <h1>LIBRERIA<br>MATIAS</h1>
                    <img src="{{ url_for('static', filename='image/logo.png')}}" alt="Libreria Matias"/>
                </section>
                <section class="info-iconos">
                        <!--Boton de Acceso a pagina-->
                    <button class="b-register"><a href="/register">Registrarse</a></button>
                    <button class="b-register"><a href="/login">Acceder</a></button>
                </section>
            </section>
        </section>
    </body>
</html>