<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href=" /static/styles.css"/>
        <title>Pagina Principal</title>

    </head>
    <body>
        <!--Fondo-->
        <div class= "Rectangulo">

            <!--Nombre del Negocio + Logo-->
            <div>
                <h1 style=font-size:200%;>LIBRERIA MATIAS</h1>
            </div>

            <div>
                <img src="https://cdn.pixabay.com/photo/2016/03/29/20/35/floral-1289280_960_720.png" width="80" heigh="80" alt="Libreria Matias"/>
            </div>
            <!--Boton de Acceso a pagina-->
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Acceder</a></li>
            </ul>

            <!--Informacion para contactarse-->
            <div class="Informacion">
                <h4>Para mayor informacion contactenos al numero 77938393 o visitenos
                en Carretera Nueva a Leon, Km 18, Res. Ciudad El Doral, Casa X-24</h4>
            </div>

        </div>
    </body>
</html>